extends ../../../layouts/main-admin

block contents
  // Preloader
  .preloader
    .cssload-speeding-wheel

  #wrapper
    include ./../../../partials/admin/header.jade
    include ./../../../partials/admin/aside-menu.jade

    // Page Content
    #page-wrapper
      .container-fluid
        .row.bg-title
          .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Редактирование салона
          .col-lg-9.col-sm-8.col-md-8.col-xs-12
            ol.breadcrumb
              li
                a(href='/admin') Главная
              li
                a(href='/admin/salons') Салоны
              li.active Редактирование салона
        if (message)
          .row
            p(style='color:red;') #{message}

        .row
          form(method='post', action='/admin/salons/#{salons.salons_id}/edit' enctype='multipart/form-data')
            .row
              .col-xs-12
                .form-group
                  label Название салона:
                  input.form-control(name='name', required='' value=(salons.name || ''))
            .row
              .col-xs-12
                .form-group
                  label Ссылка:
                  input.form-control(name='path', required='' value=(salons.path || ''))
            .row
              .col-xs-12
                .form-group
                  label Город:
                  input.form-control(name='city', required='' value=(salons.city || ''))
            .row
              .col-xs-12
                .form-group
                  label Адрес на общей странице:
                  textarea.form-control(name='address', required='')!= salons.address || ''
            .row
              .col-xs-12
                .form-group
                  label Телефоны на общей странице:
                  textarea.form-control(name='phones', required='')!= salons.phones || ''


            br
            br
            h2 Секция 1
            br

            .row
              .col-sm-6.col-xs-12
                .form-group
                  label Порядковый номер:
                  input.form-control(name='section1_order', required='' type="number" min="0" value!= salons.section1_order || '')

            .row
              .col-sm-6.col-xs-12
                .form-group
                  label Заголовок:
                  textarea.form-control(name='title1', required='')!= salons.title1 || ''
              .col-sm-6.col-xs-12
                .form-group
                  label Подзаголовок:
                  textarea.form-control(name='subtitle1', required='')!= salons.subtitle1 || ''
            .row
              .col-sm-6.col-xs-12
                .form-group
                  label Ссылка на GoogleMaps:
                  input.form-control(name='map_link', type="text" value=(salons.map_link || ''))
              .col-sm-6.col-xs-12
                .form-group
                  label Расположение карты:
                  select.form-control(name='map_position', required='')
                    option(value="left" selected= salons.map_position == 'left') Слева
                    option(value="right" selected= salons.map_position == 'right') Справа
            .row
              .col-sm-6.col-sx-12
                .form-group
                  label.control-label Изображение карты - десктоп версия (1360 X 1090):
                  input(type="hidden" name="map_path" value=(salons.map || ''))
                  input#map.dropify(type='file' name="map" data-default-file=(salons.map || '')  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
                  input(type="hidden" name="map_deleted" value="false")
              .col-sm-6.col-sx-12
                .form-group
                  label.control-label Изображение карты - мобильная версия (640 X 750):
                  input(type="hidden" name="map_mobile_path" value=(salons.map_mobile || ''))
                  input#map_mobile.dropify(type='file' name="map_mobile" data-default-file=(salons.map_mobile || '')  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
                  input(type="hidden" name="map_mobile_deleted" value="false")
            .row
              .col-sm-6.col-sx-12
                .form-group
                  label.control-label Изображение салона - десктоп версия (1360 X 1090):
                  input(type="hidden" name="imageBg1_path" value=(salons.imageBg1 || ''))
                  input#imageBg1.dropify(type='file' name="imageBg1" data-default-file=(salons.imageBg1 || '')  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
                  input(type="hidden" name="imageBg1_deleted" value="false")
              .col-sm-6.col-sx-12
                .form-group
                  label.control-label Изображение салона - мобильная версия (640 X 750):
                  input(type="hidden" name="imageBg1_mobile_path" value=(salons.imageBg1_mobile || ''))
                  input#imageBg1_mobile.dropify(type='file' name="imageBg1_mobile" data-default-file=(salons.imageBg1_mobile || '')  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
                  input(type="hidden" name="imageBg1_mobile_deleted" value="false")

            br
            br
            h2 Секция 2
            br

            .row
              .col-sm-6.col-xs-12
                .form-group
                  label Порядковый номер:
                  input.form-control(name='section2_order', required='' type="number" min="0" value!= salons.section2_order || '')


            .row
              .col-sm-6.col-xs-12
                .form-group
                  label Заголовок 1 (телефон):
                  textarea.form-control(name='title2_1')!= salons.title2_1 || ''
              .col-sm-6.col-xs-12
                .form-group
                  label Заголовок 2 (график работы):
                  textarea.form-control(name='title2_2')!= salons.title2_2 || ''

            .row
              .col-sm-4.col-xs-12
                .form-group
                  label Телефон 1:
                  textarea.form-control(name='phone1')!= salons.phone1 || ''
              .col-sm-4.col-xs-12
                .form-group
                  label Телефон 2:
                  textarea.form-control(name='phone2')!= salons.phone2 || ''
              .col-sm-4.col-xs-12
                .form-group
                  label Телефон 3:
                  textarea.form-control(name='phone3')!= salons.phone3 || ''

            .row
              .col-sm-6.col-xs-12
                .form-group
                  label График работы:
                  textarea.form-control(name='schedule')!= salons.schedule || ''


            br
            br
            h2 Секция 3
            br

            .row
              .col-sm-6.col-xs-12
                .form-group
                  label Порядковый номер:
                  input.form-control(name='section3_order', required='' type="number" min="0" value!= salons.section3_order || '')


            .row
              .col-sm-6.col-xs-12
                .form-group
                  label Заголовок:
                  textarea.form-control(name='title3')!= salons.title3 || ''
              .col-sm-6.col-xs-12
                .form-group
                  label Подзаголовок:
                  textarea.form-control(name='subtitle3')!= salons.subtitle3 || ''

            br
            br
            h2 Мастера
            br

            #teachersBlock
              each listItem, index in salons.teachers
                .panel.panel-default
                  .panel-heading
                    | &nbsp;
                    .panel-action
                      a(href="#" data-perform="panel-collapse")
                        i.ti-minus
                      a(href="#" data-perform="panel-dismiss")
                        i.ti-close
                  .panel-wrapper.collapse.in(aria-expanded="true")
                    .panel-body
                      .row
                        .col-sm-6.col-xs-12
                          .form-group
                            label Имя:
                            textarea.form-control(name='teachers_name')!= listItem.name || ''
                        .col-sm-6.col-xs-12
                          .form-group
                            label Должность:
                            textarea.form-control(name='teachers_position')!= listItem.position || ''
                      .row
                        .col-sm-6.col-xs-12
                          .form-group
                            label Фейсбук:
                            textarea.form-control(name='teachers_fb')!= listItem.fb || ''
                        .col-sm-6.col-xs-12
                          .form-group
                            label Инстаграм:
                            textarea.form-control(name='teachers_in')!= listItem.in || ''
                      .row
                        .col-sm-6.col-sx-12
                          .form-group
                            label.control-label Фотография (300 X 450):
                            input(type="hidden" name="teachersPath" value!=listItem.photo || '')
                            input.dropify-teachers(type='file' name="teachers_photo" data-default-file=(listItem.photo || '')  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
                            if listItem.photo === ''
                              input(type="hidden" name="teachers_deleted" value="true")
                            else
                              input(type="hidden" name="teachers_deleted" value="false")

            .row.m-t-20
              .col-sm-6.col-sx-12
                button#addTeachers.btn.waves-effect.waves-light(type='button')
                  span.btn-label
                    i.fa.icon-plus
                  | Добавить мастера


            br
            br
            h2 Прайслист
            br

            #pricesBlock
              - var i = 0;
              each listItem, index in salons.prices
                - i++;
                .panel.panel-default(data-item="#{i}")
                  .panel-heading
                    | &nbsp;
                    .panel-action
                      a(href="#" data-perform="panel-collapse")
                        i.ti-minus
                      a.panel-dismiss(href="#" data-perform="panel-dismiss")
                        i.ti-close
                  .panel-wrapper.collapse.in(aria-expanded="true")
                    .panel-body
                      .row
                        .col-sm-6.col-xs-12
                          .form-group
                            label Имя мастера:
                            textarea.form-control(name='prices_name')!= listItem.name || ''
                        .col-sm-6.col-sx-12
                          .form-group
                            label.control-label Фотография мастера (300 X 300):
                            input(type="hidden" name="pricesPath" value!=listItem.photo || '')
                            input.dropify-prices(type='file' name="prices_photo" data-default-file=(listItem.photo || '')  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
                            if listItem.photo === ''
                              input(type="hidden" name="prices_deleted" value="true")
                            else
                              input(type="hidden" name="prices_deleted" value="false")
                      .positionsBlock
                        each item, index in listItem.positions
                          .positions-row
                            .row
                              .col-sm-8.col-xs-7
                                label Название:
                                input.form-control.prices-positions-name(type='text', name='prices_positions_#{i}_name', required='', value= item.name)
                              .col-sm-3.col-xs-3
                                label Цена:
                                input.form-control.prices-positions-price(type='text', name='prices_positions_#{i}_price', value= item.price)
                              .col-sm-1.col-xs-2
                                label &nbsp;
                                button(type="button").btn.btn-circle.remove-positions
                                  i.fa.fa-times
                            br

                      button.addPositions.btn(type='button') Добавить позицию прайслиста

            .row.m-t-20
              .col-sm-6.col-sx-12
                button#addPrices.btn.waves-effect.waves-light(type='button' data-counter="#{i}")
                  span.btn-label
                    i.fa.icon-plus
                  | Добавить мастера прайслиста



            br
            br
            h2 Секция 4 – Галерея <small>(1280 X 755)</small>:
            br

            .row
              .col-sm-6.col-xs-12
                .form-group
                  label Порядковый номер:
                  input.form-control(name='section4_order', required='' type="number" min="0" value!= salons.section4_order || '')


            .row
              #galleryBlock
                if salons.gallery != ''
                  each item, index in salons.gallery
                    .col-sm-6.col-sx-12.m-b-20
                      input(type="hidden" name="galleryPath" value="#{item}")
                      input.dropify-gallery(type='file' name="gallery" data-default-file=(item || '')  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
                else
                  .col-sm-6.col-sx-12.m-b-20
                    input.dropify-gallery(type='file' name="gallery" accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
            .row.m-t-20
              .col-sm-6.col-sx-12
                button#addGallery.btn.waves-effect.waves-light(type='button')
                  span.btn-label
                    i.fa.icon-plus
                  | Добавить фотографию



            .clear
            br
            br

            button.btn(type='submit') Сохранить

    include ./../../../partials/admin/footer.jade

    script(src="/js/pages/admin/admin-salons-edit.js")