section.section-layout.philosophy-pros.philosophy-pros--2
  if philosophies.imageBg7 == ''
    div.section-bg.philosophy-pros__bg
  else
    div.section-bg.philosophy-pros__bg(style="background-image: url(#{philosophies.imageBg7})")
  div.philosophy-pros__main
    div.page-title-big-layout.home-pros__title-layout
      h1.page-title-big.home-pros__title.home-pros__title--1.philosophy-title #{philosophies.title7}
      //h1.page-title-big.home-pros__title.home-pros__title--1.philosophy-title Влюблять<br class="br-md-sm"> в профессию —<br> важная составляющая<br> нашей жизни
    div.philosophy-pros-list-layout
      ul.philosophy-pros-list
        li.philosophy-pros-list__item
          div.philosophy-pros-list__item-inner
            div.philosophy-pros-list__item-line-left-layout
              div.philosophy-pros-list__item-line-left
            div.philosophy-pros-list__item-line-top
            p.philosophy-pros-list__item-text #{philosophies.text7_1}
            //p.philosophy-pros-list__item-text
            //  b Мы меняем отношение к профессии.<br>
            //  | Развитое чувство стиля у студентов<br class="br-lg"> - цель №1 в Академии. Много<br class="br-lg"> внимания мы уделяем наработке<br class="br-lg"> мастерства и умению подбирать<br class="br-lg"> формы.<br class="br-lg"> А самое важное приобретение<br class="br-lg"> нашего выпускника -<br class="br-lg"> его индивидуальный почерк.
        li.philosophy-pros-list__item
          div.philosophy-pros-list__item-inner
            div.philosophy-pros-list__item-line-left-layout
              div.philosophy-pros-list__item-line-left
            div.philosophy-pros-list__item-line-top
            p.philosophy-pros-list__item-text #{philosophies.text7_2}
            //p.philosophy-pros-list__item-text
            //  b Создаем субкультуру, в которой люди<br>
            //  | будут вдохновлять и <br class="br-lg"> мотивировать друг друга.<br class="br-lg"> Сообщество мастеров, создающих<br class="br-lg"> новые образы жизни для клиентов;<br class="br-lg"> высококвалифицированных<br class="br-lg"> профессионалов, развивающих<br class="br-lg"> культуру парикмахерского искусства.
        li.philosophy-pros-list__item
          div.philosophy-pros-list__item-inner
            div.philosophy-pros-list__item-line-left-layout
              div.philosophy-pros-list__item-line-left
            div.philosophy-pros-list__item-line-top
            p.philosophy-pros-list__item-text #{philosophies.text7_3}
            //p.philosophy-pros-list__item-text
            //  b Вдохновляемся работой с учениками<br>
            //  | Передавая свои знания и умения, <br class="br-lg"> наработанные за 22 года практики,<br class="br-lg"> мы совершенствуем наши навыки.<br class="br-lg"> Каждый проведённый курс<br class="br-lg"> приносит новые открытия.

