mixin block_action(index, city, item)
  .panel.panel-default(data-item="#{index}")
    .panel-heading
      | Блок "Технологии"
      .panel-action
        a(href="#" data-perform="panel-collapse")
          i.ti-plus
        a.panel-dismiss(href="#" data-perform="panel-dismiss")
          i.ti-close
    .panel-wrapper.collapse(aria-expanded="false")
      .panel-body
        input.form-control(type="hidden" name='pages[#{city}][#{index}][block_type]', required='' value="block_action")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Заголовок:
              textarea.form-control(name='pages[#{city}][#{index}][title]')!= item.title
          .col-xs-12.col-sm-6
            .form-group
              label Подзаголовок:
              textarea.form-control(name='pages[#{city}][#{index}][subtitle]')!= item.subtitle
        .row
          .col-xs-12.col-sm-6
            .form-group
              label.control-label Фоновое изображение (1920 X 1080):
              input(type="hidden" name="pages_#{city}_#{index}_bg_path" value!= item.bg)
              input.dropify(type='file' name="pages_#{city}_#{index}_bg" data-default-file!= item.bg  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
              input(type="hidden" name="pages_#{city}_#{index}_bg_deleted" value="false")
        .row
          .col-xs-12.col-sm-4
            .form-group
              label Блок призыва - слово 1:
              input.form-control(name='pages[#{city}][#{index}][block_word_1]' value!= item.block_word_1)
          .col-xs-12.col-sm-4
            .form-group
              label Блок призыва - слово 2:
              input.form-control(name='pages[#{city}][#{index}][block_word_2]' value!= item.block_word_2)
          .col-xs-12.col-sm-4
            .form-group
              label Блок призыва - слово 3:
              input.form-control(name='pages[#{city}][#{index}][block_word_3]' value!= item.block_word_3)
