mixin block_program_2(index, city, item)
  .panel.panel-default(data-item="#{index}")
    .panel-heading
      | Блок "Программа" - 2
      .panel-action
        a(href="#" data-perform="panel-collapse")
          i.ti-plus
        a.panel-dismiss(href="#" data-perform="panel-dismiss")
          i.ti-close
    .panel-wrapper.collapse(aria-expanded="false")
      .panel-body
        input.form-control(type="hidden" name='pages[#{city}][#{index}][block_type]', required='' value="block_program_2")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Подзаголовок:
              textarea.form-control(name='pages[#{city}][#{index}][subtitle]')!= item.subtitle
          .col-xs-12.col-sm-6
            .form-group
              label Заголовок:
              textarea.form-control(name='pages[#{city}][#{index}][title]')!= item.title
        .row
          .col-xs-12.col-sm-6
            .form-group
              label.control-label Фоновое изображение (1920 X 1080):
              input(type="hidden" name="pages_#{city}_#{index}_bg_path" value!= item.bg)
              input.dropify(type='file' name="pages_#{city}_#{index}_bg" data-default-file!= item.bg  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
              input(type="hidden" name="pages_#{city}_#{index}_bg_deleted" value="false")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Пункт 1 - Заголовок(день):
              textarea.form-control(name='pages[#{city}][#{index}][item_1_title]')!= item.item_1_title
          .col-xs-12.col-sm-6
            .form-group
              label.control-label Пункт 1 - Изображение в круге (300 X 300):
              input(type="hidden" name="pages_#{city}_#{index}_item_1_image_path" value!= item.item_1_image)
              input.dropify(type='file' name="pages_#{city}_#{index}_item_1_image" data-default-file!= item.item_1_image  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
              input(type="hidden" name="pages_#{city}_#{index}_item_1_image_deleted" value="false")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Пункт 1 - Название:
              textarea.form-control(name='pages[#{city}][#{index}][item_1_name]')!= item.item_1_name
          .col-xs-12.col-sm-6
            .form-group
              label Пункт 1 - Текст:
              textarea.form-control(name='pages[#{city}][#{index}][item_1_text]')!= item.item_1_text
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Пункт 2 - Заголовок(день):
              textarea.form-control(name='pages[#{city}][#{index}][item_2_title]')!= item.item_2_title
          .col-xs-12.col-sm-6
            .form-group
              label.control-label Пункт 2 - Изображение в круге (300 X 300):
              input(type="hidden" name="pages_#{city}_#{index}_item_2_image_path" value!= item.item_2_image)
              input.dropify(type='file' name="pages_#{city}_#{index}_item_2_image" data-default-file!= item.item_2_image  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
              input(type="hidden" name="pages_#{city}_#{index}_item_2_image_deleted" value="false")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Пункт 2 - Название:
              textarea.form-control(name='pages[#{city}][#{index}][item_2_name]')!= item.item_2_name
          .col-xs-12.col-sm-6
            .form-group
              label Пункт 2 - Текст:
              textarea.form-control(name='pages[#{city}][#{index}][item_2_text]')!= item.item_2_text
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Пункт 3 - Заголовок(день):
              textarea.form-control(name='pages[#{city}][#{index}][item_3_title]')!= item.item_3_title
          .col-xs-12.col-sm-6
            .form-group
              label.control-label Пункт 3 - Изображение в круге (300 X 300):
              input(type="hidden" name="pages_#{city}_#{index}_item_3_image_path" value!= item.item_3_image)
              input.dropify(type='file' name="pages_#{city}_#{index}_item_3_image" data-default-file!= item.item_3_image  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
              input(type="hidden" name="pages_#{city}_#{index}_item_3_image_deleted" value="false")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Пункт 3 - Название:
              textarea.form-control(name='pages[#{city}][#{index}][item_3_name]')!= item.item_3_name
          .col-xs-12.col-sm-6
            .form-group
              label Пункт 3 - Текст:
              textarea.form-control(name='pages[#{city}][#{index}][item_3_text]')!= item.item_3_text
