mixin block_study(index, city, item)
  .panel.panel-default(data-item="#{index}")
    .panel-heading
      | Блок "Для обучения мы предоставим"
      .panel-action
        a(href="#" data-perform="panel-collapse")
          i.ti-plus
        a.panel-dismiss(href="#" data-perform="panel-dismiss")
          i.ti-close
    .panel-wrapper.collapse(aria-expanded="false")
      .panel-body
        input.form-control(type="hidden" name='pages[#{city}][#{index}][block_type]', required='' value="block_study")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Заголовок:
              textarea.form-control(name='pages[#{city}][#{index}][title]')!= item.title
          .col-xs-12.col-sm-6
            .form-group
              label.control-label Фоновое изображение (1920 X 1080):
              input(type="hidden" name="pages_#{city}_#{index}_bg_path" value!= item.bg)
              input.dropify(type='file' name="pages_#{city}_#{index}_bg" data-default-file!= item.bg  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
              input(type="hidden" name="pages_#{city}_#{index}_bg_deleted" value="false")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Блок 1 - Заголовок:
              textarea.form-control(name='pages[#{city}][#{index}][item_1_title]')!= item.item_1_title
          .col-xs-12.col-sm-6
            .form-group
              label.control-label Блок 1 -  Изображение (230 X 260):
              input(type="hidden" name="pages_#{city}_#{index}_item_1_image_path" value!= item.item_1_image)
              input.dropify(type='file' name="pages_#{city}_#{index}_item_1_image" data-default-file!= item.item_1_image  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
              input(type="hidden" name="pages_#{city}_#{index}_item_1_image_deleted" value="false")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Блок 2 - Заголовок:
              textarea.form-control(name='pages[#{city}][#{index}][item_2_title]')!= item.item_2_title
          .col-xs-12.col-sm-6
            .form-group
              label.control-label Блок 2 -  Изображение (200 X 255):
              input(type="hidden" name="pages_#{city}_#{index}_item_2_image_path" value!= item.item_2_image)
              input.dropify(type='file' name="pages_#{city}_#{index}_item_2_image" data-default-file!= item.item_2_image  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
              input(type="hidden" name="pages_#{city}_#{index}_item_2_image_deleted" value="false")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Блок 3 - Заголовок:
              textarea.form-control(name='pages[#{city}][#{index}][item_3_title]')!= item.item_3_title
          .col-xs-12.col-sm-6
            .form-group
              label.control-label Блок 3 -  Изображение (212 X 212):
              input(type="hidden" name="pages_#{city}_#{index}_item_3_image_path" value!= item.item_3_image)
              input.dropify(type='file' name="pages_#{city}_#{index}_item_3_image" data-default-file!= item.item_3_image  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
              input(type="hidden" name="pages_#{city}_#{index}_item_3_image_deleted" value="false")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Блок 4 - Заголовок:
              textarea.form-control(name='pages[#{city}][#{index}][item_4_title]')!= item.item_4_title
          .col-xs-12.col-sm-6
            .form-group
              label.control-label Блок 4 -  Изображение (215 X 200):
              input(type="hidden" name="pages_#{city}_#{index}_item_4_image_path" value!= item.item_4_image)
              input.dropify(type='file' name="pages_#{city}_#{index}_item_4_image" data-default-file!= item.item_4_image  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
              input(type="hidden" name="pages_#{city}_#{index}_item_4_image_deleted" value="false")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Блок 5 - Заголовок:
              textarea.form-control(name='pages[#{city}][#{index}][item_5_title]')!= item.item_5_title
          .col-xs-12.col-sm-6
            .form-group
              label.control-label Блок 5 -  Изображение (180 X 210):
              input(type="hidden" name="pages_#{city}_#{index}_item_5_image_path" value!= item.item_5_image)
              input.dropify(type='file' name="pages_#{city}_#{index}_item_5_image" data-default-file!= item.item_5_image  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
              input(type="hidden" name="pages_#{city}_#{index}_item_5_image_deleted" value="false")
        .row
          .col-xs-12.col-sm-6
            .form-group
              label Блок 6 - Заголовок:
              textarea.form-control(name='pages[#{city}][#{index}][item_6_title]')!= item.item_6_title
          .col-xs-12.col-sm-6
            .form-group
              label.control-label Блок 6 -  Изображение (230 X 155):
              input(type="hidden" name="pages_#{city}_#{index}_item_6_image_path" value!= item.item_6_image)
              input.dropify(type='file' name="pages_#{city}_#{index}_item_6_image" data-default-file!= item.item_6_image  accept="image/jpg,image/jpeg,image/png,image/bmp" data-max-file-size="2M")
              input(type="hidden" name="pages_#{city}_#{index}_item_6_image_deleted" value="false")
