mixin block_intro(index, city, item, courses)
  section#about.section-layout.section.sp-about.sp-about--man-innovations(style="background-image: url(#{item.bg})")
    //include ../../partials/main-nav-links-1.jade
    include ../../partials/link-back-beginner.jade
    include ../../partials/main-nav-socials.jade
    include ../../partials/main-nav-lang.jade
    include ../../partials/main-nav-toggle.jade
    include ../../partials/courses-link.jade

    //.logo

    .sp-about-logo
      .sp-about-logo__image
      .circle.sp-about-logo__circle-1
      .circle.sp-about-logo__circle-2
      .circle.sp-about-logo__circle-3
      .circle.sp-about-logo__circle-4

    div.sp-about-block
      p.sp-about-block__duration #{item.duration}
      div.sp-about-block__main
        .logo.sp-about-block__logo
        h1.sp-about-block__main-title
          span #{item.subtitle}
          | #{item.title}
        h2.sp-about-block__main-subtitle #{item.text}
        if city === 'kiev'
          button(type="button" onclick="registerStep1('#{courses.path}_#{city}','#{courses.course_type} #{courses.name}', '#{courses.course_type} «#{courses.name}»', '#{city}', '#{courses.pages[0].date}', '#{courses.pages[0].grtoken}')").btn.sp-about-block__main-link Принять участие
        else if city === 'kharkiv'
          button(type="button" onclick="registerStep1('#{courses.path}_#{city}','#{courses.course_type} #{courses.name}', '#{courses.course_type} «#{courses.name}»', '#{city}', '#{courses.pages[1].date}', '#{courses.pages[1].grtoken}')").btn.sp-about-block__main-link Принять участие
      div.sp-about-block__info
        ul.switcher
          if courses.pages[0].blocks.length
            li.switcher__btn(class=city === "kiev" ? "switcher__btn--active" : "")
              a(href="/courses/#{courses.difficulty}/#{courses.path}/kiev") киев
          if courses.pages[1].blocks.length
            li.switcher__btn(class=city === "kharkiv" ? "switcher__btn--active" : "")
              a(href="/courses/#{courses.difficulty}/#{courses.path}/kharkiv") харьков
        if city === 'kiev'
          p.sp-about-block__info-date #{courses.pages[0].date}
        else if city === 'kharkiv'
          p.sp-about-block__info-date #{courses.pages[1].date}
        if item.seats_current || item.seats_total
          p.sp-about-block__info-seats <span>Места: #{item.seats_current}</span> из #{item.seats_total}

    include ../../partials/lp/scroll-down.jade