mixin block_masters_2(index, city, item)
  section#masters.section-layout.section.sp-masters.sp-masters--bg-2.sp-masters--man-innovations(style="background-image: url(#{item.bg})")
    div.page-title
      .page-title__logo
      h2 #{item.subtitle}
      h1 #{item.title}

    ul.sp-masters-list.sp-masters-list--big-items
      li.sp-masters-list__item
        p.sp-masters-list__item-text
          span #{item.item_1_title}
          | #{item.item_1_text}
        .sp-masters-list__item-dot
      li.sp-masters-list__item
        p.sp-masters-list__item-text
          span #{item.item_2_title}
          | #{item.item_2_text}
        .sp-masters-list__item-dot