ul.home-program-list
  if(item.item_1_title || item.item_1_text)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | #{item.item_1_title}
        span #{item.item_1_text}
  if(item.item_2_title || item.item_2_text)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | #{item.item_2_title}
        span #{item.item_2_text}
  if(item.item_3_title || item.item_3_text)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | #{item.item_3_title}
        span #{item.item_3_text}
  if(item.item_4_title || item.item_4_text)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | #{item.item_4_title}
        span #{item.item_4_text}
  if(item.item_5_title || item.item_5_text)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | #{item.item_5_title}
        span #{item.item_5_text}
  if(item.item_6_title || item.item_6_text)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | #{item.item_6_title}
        span #{item.item_6_text}
  if(item.item_7_title || item.item_7_text)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | #{item.item_7_title}
        span #{item.item_7_text}
  if(item.item_8_title || item.item_8_text)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | #{item.item_8_title}
        span #{item.item_8_text}
  if(item.item_9_title || item.item_9_text)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | #{item.item_9_title}
        span #{item.item_9_text}
  if(item.item_10_title || item.item_10_text)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | #{item.item_10_title}
        span #{item.item_10_text}
  if(item.item_11_title || item.item_11_text)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | #{item.item_11_title}
        span #{item.item_11_text}
  if(item.item_12_title || item.item_12_text)
    li.home-program-list__item
      .home-program-list__circles
        .circle.home-program-list__circle.home-program-list__circle--1
        .circle.home-program-list__circle.home-program-list__circle--2
        .circle.home-program-list__circle.home-program-list__circle--3
      p.home-program-list__info
        | #{item.item_12_title}
        span #{item.item_12_text}
