if(item.item_1_title || item.item_1_text)
  li.sp-program-info__item.sp-program-info__item--1.sp-program-info__item--active
    .vertical-line.sp-program-info__item-line
    p.sp-program-info__item-month
      span 01
      | этап
    h1.sp-program-info__item-title!= item.item_1_title
    p.sp-program-info__item-text!= item.item_1_text
if(item.item_2_title || item.item_2_text)
  li.sp-program-info__item.sp-program-info__item--2
    .vertical-line.sp-program-info__item-line
    p.sp-program-info__item-month
      span 02
      | этап
    h1.sp-program-info__item-title!= item.item_2_title
    p.sp-program-info__item-text!= item.item_2_text
if(item.item_3_title || item.item_3_text)
  li.sp-program-info__item.sp-program-info__item--3
    .vertical-line.sp-program-info__item-line
    p.sp-program-info__item-month
      span 03
      | этап
    h1.sp-program-info__item-title!= item.item_3_title
    p.sp-program-info__item-text!= item.item_3_text
if(item.item_4_title || item.item_4_text)
  li.sp-program-info__item.sp-program-info__item--4
    .vertical-line.sp-program-info__item-line
    p.sp-program-info__item-month
      span 04
      | этап
    h1.sp-program-info__item-title!= item.item_4_title
    p.sp-program-info__item-text!= item.item_4_text
if(item.item_5_title || item.item_5_text)
  li.sp-program-info__item.sp-program-info__item--5
    .vertical-line.sp-program-info__item-line
    p.sp-program-info__item-month
      span 05
      | этап
    h1.sp-program-info__item-title!= item.item_5_title
    p.sp-program-info__item-text!= item.item_5_text
if(item.item_6_title || item.item_6_text)
  li.sp-program-info__item.sp-program-info__item--6
    .vertical-line.sp-program-info__item-line
    p.sp-program-info__item-month
      span 06
      | этап
    h1.sp-program-info__item-title!= item.item_6_title
    p.sp-program-info__item-text!= item.item_6_text
if(item.item_7_title || item.item_7_text)
  li.sp-program-info__item.sp-program-info__item--7
    .vertical-line.sp-program-info__item-line
    p.sp-program-info__item-month
      span 07
      | этап
    h1.sp-program-info__item-title!= item.item_7_title
    p.sp-program-info__item-text!= item.item_7_text
if(item.item_8_title || item.item_8_text)
  li.sp-program-info__item.sp-program-info__item--8
    .vertical-line.sp-program-info__item-line
    p.sp-program-info__item-month
      span 08
      | этап
    h1.sp-program-info__item-title!= item.item_8_title
    p.sp-program-info__item-text!= item.item_8_text
if(item.item_9_title || item.item_9_text)
  li.sp-program-info__item.sp-program-info__item--9
    .vertical-line.sp-program-info__item-line
    p.sp-program-info__item-month
      span 09
      | этап
    h1.sp-program-info__item-title!= item.item_9_title
    p.sp-program-info__item-text!= item.item_9_text
